<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menu.description %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @menu.image_path %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>

<%= link_to 'Edit', edit_restaurant_menu_path(@menu) %> |
<%= link_to 'Back', restaurant_menus_path(@menu.restaurant_id) %>
