<%= form_for([@restaurant, @restaurant.orders.build]) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Image path</th>
        <th>Price</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @menus.each do |menu| %>
        <tr>
          <td><%= menu.name %></td>
          <td><%= menu.description %></td>
          <td><%= menu.image_path %></td>
          <td><%= menu.price %></td>
          <% if current_user.customer? %>
            <td><%= link_to 'delete from cart', delete_from_cart_path(:id => menu.id), method: :post, data: { confirm: 'Are you sure?' } %></td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit "order delivery"%>
  </div>
<% end %>
