<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      <% @menus.each do |menu| %>
        <tr>
          <td><%= menu.name %></td>
          <td><%= menu.description %></td>
          <td><%= image_tag menu.image_path, size:50 %></td>
          <td><%= menu.price %></td>
          <td><%= link_to 'delete from cart', delete_from_cart_path(:id => menu.id), method: :post, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <%= f.hidden_field :menu_ids, :multiple => true, :value => menu.id %>
      <% end %>
    </tbody>
  </table>


  <%= f.hidden_field :restaurant_id, :value => @restaurant_id %>
  <div class="actions">
    <%= f.submit "order delivery"%>
  </div>
<% end %>
