<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Orders</h1>

  <table class="table table-hover" style="text-align: center;">
    <thead>
      <tr>
        <td style="text-align: center">#</td>
        <td style="text-align: center">Order Date</td>
        <td style="text-align: center">Order Status</td>
        <td style="text-align: center" colspan="2">Action</td>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.created_at %></td>
          <td><%= order.status %></td>
          <td><%= link_to 'Show', order_path(order) %></td>
          <td>
          <% if order.requested? %>
            <%= link_to 'Cancel', order, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
