<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th >#</th>
      <th>Order Date</th>
      <th>Order Status</th>
      <th colspan="2">orders</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.created_at %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show', order_path(order) %></td>
        <td>
        <% if order.requested? %>
          <%= link_to 'Cancel', order, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Order', new_order_path %> -->
