<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Order By</th>
      <th>Order Date</th>
      <th>Order Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.name %></td>
        <td><%= order.created_at %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'View Orders', customer_orders_list_path(order.id) %></td>
        <% if order.status == "requested" %>
          <td><%= link_to 'Accept', order_status_update_path(:id => order.id, :status => Order.statuses[:accepted]), method: :post %></td>
          <td><%= link_to 'Cancel', order_status_update_path(:id => order.id, :status => Order.statuses[:rejected]), method: :post %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
