<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Restaurants</h1>

  <table class="table table-striped table-bordered" style="text-align: center;">
    <thead >
      <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Location</th>
        <th style="text-align: center;">Delivery charge</th>
        <th style="text-align: center;" colspan="4">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.location %></td>
          <td><%= restaurant.delivery_charge %></td>
          <td><%= link_to 'Orders', customer_orders_path(:id => restaurant.id) %></td>
          <td><%= link_to 'Menu', restaurant_menus_path(:restaurant_id => restaurant.id) %></td>
          <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
          <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Add Restaurant', new_restaurant_path, :class => "btn btn-primary" %>
</div>
